html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header {
    height: 100px;
}
body {
    height: auto;
}

/*VISTA DE REAL TIME PRODUCTS*/
.mainSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "c1 c2 c2";
    height: 100%;
}
.containerForm {
    grid-area: c1;
}
#formNewProduct {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.container {
    grid-area: c2;  
}
#containerProducts {
    
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
    height: 100%;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: scroll;
    box-shadow: 0px 0px 29px 8px rgba(0,0,0,0.75);
}



.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.deleteButton {
    margin-top: auto;
}

/*VISTA DE HOME*/

.generalContainer{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.containerHome {
    width: 20%;
}
.containerHome div {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
#getIntoEcommerce {
    border-radius: 20px;
    letter-spacing: 2px;
}

.containerProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerCardHome {
    box-shadow: 0px 0px 29px 8px rgba(0,0,0,0.75);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.buttonsCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buttonsCard button {
    border-radius: 20px;
    
}

/*VISTA DE PRODUCTO INDIVIDUAL (products.handlebars)*/
.individualProduct{
    padding-right: 100px;
    padding-bottom: 20px ;
    padding-left: 100px;
    padding-top: 20px ;
}

/*VISTA DEL CARRITO (cart.handldebars)*/
.viewCart {
    display: flex;
    flex-direction: column;
    padding: 30px;
}