<h1 class="title">Ecommerce</h1>
<div class="generalContainer">
    <div class="form">
        <form id="uploaderProducts" method="post" action="http://localhost:8080/api/products">
            <input name="title" type="text" placeholder="Titulo del producto">
            <input name="description" type="text" placeholder="Descripcion del producto">
            <input name="price" type="number" placeholder="Precio del producto">
            <input name="stock" type="number" placeholder="Cantidad en stock">
            <input name="category" type="text" placeholder="Categoria del producto">

            <button type="submit" id="addButton">Agregar producto</button>
        </form>
    </div>
    <div class="containerProducts">

    </div>
</div>