<header>
    <div>
        <h1 class="title">Real Time Store</h1>
    </div>
</header>
<div>
    <section class="mainSection">
        <div class="containerForm">
            <form id="formNewProduct">
                <input  type="text" name="title" placeholder="Ingresa el titulo del producto">
                <input  type="text" name="description" placeholder="Ingresa la descripcion del producto">
                <input  type="number" name="price" placeholder="Ingresa el precio del producto">
                <input  type="number" name="stock" placeholder="Ingresa el stock de productos disponibles">
                <input  type="text" name="category" placeholder="Ingresa la categoria del producto">

                <button type="submit">Agregar producto</button>
            </form>
        </div>
        <div id="containerProducts">
            <!--{{#each jsonProducts}}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{this.category}}</h6>
                        <p class="card-text">{{this.description}}</p>
                        <button data-id= {{this.id}} class="deleteButton">Eliminar producto</button>
                    </div>
                </div>
            {{/each}}-->
        </div>
    </section>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>