<div>
    <form id="formUser">
        <input name="name" type="text" required placeholder="Nombre">
        <input name="lastName" type="text" required placeholder="Apellido">
        <input name="dni" type="number" required placeholder="DNI">
        <input name="email" type="email" required placeholder="Correo electronico">
        <input name="userName" type="text" required placeholder="Nombre de usuario">
        <input name="password" type="password" required placeholder="Contraseña">
        <button type="submit">Crear usuario</button>
    </form>
</div>

<script src="./js/registerUser.js"></script>